.carousel-item > img {
  height: 100vh;
}
nav{
  z-index: 10;
}

.profile-card{
  width: 18rem;
  margin-bottom: 20px;
}

.cardboard{
  margin-bottom: 20px;
}

.skill-ul{
  list-style:none;
}

.skill-li{
  display:flex;
  flex-direction:column;
}
.skill-outline{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.skill-name{
  flex:1;
  margin-right: 8px;
}
.skill-progress-bar{
  flex:10;
  margin-right: 8px;
}
.skill-desc{
  flex:2;
}
#progress-cpp{
  width: 80%;
}
#progress-python{
  width: 75%;
}
#progress-java{
  width: 60%;
}
#progress-github{
  width: 80%;
}
#progress-mysql{
  width: 20%;
}
